.MKLogo {
    height: 50px;
    margin: 10px;
}

a {
    text-decoration: none;
}

.IconsText {
    padding-left: 20px;
    text-decoration: none;
}

.DashboardIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.BookingsIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.RnCIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.ReportsIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.CustomersIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.PaymentIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.SupportIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.SettingsIcon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}